#RESShortcutsEditContainer, #RESShortcutsRight, #RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsLeft, #sr-more-link, #RESShortcutsSort {
  background-color: #FAFAFA !important;
}

.keyHighlight, .RES-keyNav-activeElement, div .RES-keyNav-activeElement {
  outline-width: 0 !important;
  border-left: 5px solid #AAAAAA;
  background: transparent !important;
}

// >> Change location of the currently selected element marker
.RES-keyNav-activeElement {
  border-left: 0 !important;
  border-right: 5px solid #AAAAAA;
}

// << Change location of the currently selected element marker

// Fix userbar positioning for RES users
.res #header-bottom-right {
  top: 66px !important;
}

#RESAccountSwitcherIcon {
  height: 19px;
}

// >> RES neverending reddit fixes
#progressIndicator {
  margin-left: 20px !important;
  border-radius: 0 !important;
  box-shadow: 0 1px 3px 1px #C0C0C0;
  width: 97% !important;
  margin-top: 5px !important;
  background-color: #F5F5F5;
  border-color: #C1BFBF !important;
}

.linklisting .linklisting {
  margin-left: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.NERPageMarker, body .content #progressIndicator {
  background-color: #F5F5F5 !important;
  border: 0 !important;
  border-radius: 0 !important;
  margin-right: 20px !important;
  box-shadow: 0 1px 3px 1px #C0C0C0 !important;
  width: auto !important;
}

#NERFail {
  width: 99% !important;
  height: auto !important;
  border-width: 0 !important;
}

// << RES neverending reddit fixes

// Attempts to disrupt RES from hiding CSS styles
body.res:lang(np):not(.subscriber) div.titlebox > div[style*='display: block !important'] input:before,
body.res:lang(np):not(.subscriber) div.titlebox > div[style*='display: block !important'] label:before,
body.res:lang(np):not(.subscriber) > div#keyCommandLineWidget > form:before {
  content: 'Removed by NoParticipation' !important;
  margin-left: -10000px !important;
}

/* RES NIGHTMODE STYLES */
.res-nightmode {
  // Linklisting
  .linklisting {
    box-shadow: 0 0 0 0;
  }
  .linklisting .even {
    background-color: rgba(6, 6, 6, 0.8);
  }

  //Expandos
  $expandos: selftext image video;

  @mixin pos($y: 0, $x: 0) {
    background-position: #{- ($y * 21px)+21-63px} #{$x} !important;
  }

  @each $expando in $expandos {
    $i: index($expandos, $expando);

    .expando-button.#{$expando}.collapsed {
      @include pos($i, -32px);
    }

    .expando-button.#{$expando}.collapsed:hover {
      @include pos($i, -53px);
    }

    .expando-button.#{$expando}.expanded {
      @include pos($i, -74px);
    }

    .expando-button.#{$expando}.expanded:hover {
      @include pos($i, -95px);
    }
  }

  // RES stuff
  .res .RES-keyNav-activeElement {
    background: transparent !important;
  }

}
