// Main styling for everything
.linklisting .link {
  border-right: 10px solid rgb(147, 161, 161);
  min-height: 50px !important;
  padding-left: 20px
}

.linklisting .link a:hover {
  color: #418AD3
}

.linkflairlabel {
  padding: 0 2px;
  height: auto;
  border-radius: 0;
  color: #333;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  font-size: 12px;
  cursor: default;
}

.linkflair .title .linkflairlabel {
  background: url(%%linkflair%%) no-repeat;
  color: transparent;
  font-size: 0;
  right: 350px;
  margin-top: -8px;
  height: 81px;
  max-width: 32px;
  width: 28px;
  position: absolute;
  z-index: 98;
  border-width: 0 0 0 0
}

.thing.linkflair, .flairselector {
  border-right: 10px solid #93A1A1;
}

@mixin pos($x: 0, $y: 0) {
  background-position: #{- ($x * 32px)} 50% !important;
}

// Order by appearance in the spritesheet. Pairs: (name, border-color, ...)
$linkflair: (announcement: #DC322F, survival: #859900, creative: #6C71C4, command: #D33682, redstone: #CB4B16, help: #268BD2, tutorial: #2AA198, lp: #073642, art: #6C71C4, news: #DC322F, maps: #1CB900);
$counter: 0;

@each $type, $color in $linkflair {

  .linkflair-#{$type} .title .linkflairlabel {
    @include pos($counter, 0);
  }

  .thing.linkflair.linkflair-#{$type}, .flairselector .linkflair-#{$type} {
    border-right: 10px solid #{$color};
  }
  $counter: $counter+1;
}
