.rounded {
  border-radius: 0 !important;
}

.roundfield, #REScommentSubToggle, #header-bottom-right, #userbarToggle {
  border-radius: 0 !important;
}

.roundfield, .content.submit .info-notice, .linefield {
  background-color: #F5F5F5;
  border-width: 1px 0;
  border-style: solid;
  border-color: #C1BFBF;
}

.entry {
  padding: 3px;

  border-right: 1px solid;
  border-color: transparent;
}

body .content .sitetable .thing.spam, body .sitetable .thing.spam.deleted.link.self {
  border: solid 2px #FA8072 !important;
}

body .content .sitetable .thing.spam, body .sitetable .thing.spam.deleted.link.self {
  border: solid 2px #FA8072 !important;
}

.link.last-clicked {
  border: 0 !important;
}

a.title {
  color: #4D6277 !important;
}

a.title:hover {
  color: #4D6277 !important;
  text-decoration: underline !important;
}

a.title:visited {
  color: #E18879 !important;
}

a.title:visited:hover {
  color: #E18879 !important;
  text-decoration: underline !important;
}

.sitetable .md {
  max-width: 50em !important;

}

/* Listing of submissions */

.expando {
  border-bottom: dotted 1px #C1BFBF;
}

.expando-button {
  margin: 5px 5px 2px 0;
}

.entry .tagline {
  margin-top: 5px;
}

.entry .buttons li a {
  font-weight: normal;
}

.link .entry li .comments {
  font-weight: bold;
}

body div.content {
  margin: 10px 320px 0 5px !important;
  padding: 20px 0 0 !important;
}

.rank {
  display: none;
}

.link .midcol {
  margin-right: 3px;
  margin-left: 0;
  margin-top: 7px;
}

.linklisting {
  bottom: 0;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 25px 0 20px;
  box-shadow: 0 3px 3px 1px #C0C0C0;
}

.linklisting .odd:first-child {
  border-top: 0 none !important;
}

.linklisting .odd {
  overflow: hidden !important;
  margin: 0 !important;
  padding: 5px 5px 10px 10px !important;
  background-color: rgba(245, 245, 245, 0.8);
  min-height: 50px !important;
}

.linklisting .even:not(.res-nightmode) {
  overflow: hidden !important;
  margin: 0 !important;
  padding: 5px 5px 10px 10px !important;
  background-color: rgba(250, 250, 250, 0.8);
  min-height: 50px !important;
}

/* Make the sticky stand out a bit */
.linklisting .stickied {
  margin-bottom: 8px !important;
}

.linklisting .stickied .thumbnail {
  background: url(%%testibg%%) no-repeat 5px 5px;
  height: 60px;
}

/* comments */
.sitetable .comment {
  border-radius: 0 !important;
}

.panestack-title {
  margin: 0 !important;
  border-bottom: 1px dotted #808080;
  background-color: #FFF;
  box-shadow: 0 3px 3px 1px #C0C0C0;
  padding: 5px 5px 5px 30px;
  overflow: auto;
}

.commentarea .menuarea, .commentarea .infobar {
  margin: 0 !important;
  border: none;
  color: #808080;
  background-color: #FFF;
  box-shadow: 0 3px 3px 1px #C0C0C0;
  padding: 5px 5px 5px 30px;
  overflow: auto;
}

.commentarea > .usertext {
  margin: 0 !important;
  overflow: auto;
  background-color: #FFF;
  box-shadow: 0 3px 3px 1px #C0C0C0;
  padding: 5px 5px 5px 30px;
}

.pretty-form {
  padding: 5px 5px 5px 30px;
  background-color: #FFF;
  border: 0;
  box-shadow: 0 1px 3px 1px #C0C0C0;
  margin-left: 20px !important;
  overflow: auto;
}

.gold-accent.comment-visits-box {
  color: #583800;
  padding: 7px 10px 7px 30px;
  box-shadow: 0 3px 3px 1px #C0C0C0;
  background-color: #FFF;
  margin: 0 !important;
  overflow: auto;
  display: block;
  max-width: 100%;
  border-color: #FFF;
}

.sitetable.nestedlisting > .comment {
  margin: 0 20px 5px 0 !important;
  background-color: rgba(255, 255, 255, 0.69) !important;
  border: 0 !important;
  padding: 5px 8px 0 5px !important;
  box-shadow: 0 3px 3px 1px #C0C0C0;
  overflow: auto;
}

.sitetable.nestedlisting {
  margin-top: 5px;
}

.commentarea {
  margin-top: 5px;
  margin-left: 20px;
  padding: 0 !important;
  border: 0;
}

.md h1, .commentarea h1 {
  padding-bottom: 3px;
  border-bottom: 1px dotted #C1BFBF;
  font-weight: bold;
}

.md h2, .commentarea h2 {
  margin-bottom: 10px;
  padding: 5px 0 10px 3px;
  border-bottom: 1px dotted #C1BFBF;
  font-weight: bold;

}

.md h2 a[href*='xpaw.ru'], .md h2 a[href$='rules'] {
  font-size: 85%;
  color: #BBB;
  float: right;
  font-weight: normal;
  text-decoration: none;
  vertical-align: super;
}

.md h2 a[href*='xpaw.ru']:hover, .md h2 a[href$='rules']:hover {
  color: #DD513B;
  text-decoration: none;
}

.md h3, .commentarea h3 {
  padding-bottom: 3px;
  border-bottom: 1px dotted #C1BFBF;
  font-weight: bold;

}

.link .usertext .md {
  padding: 0 5px;
  border: 0;
}

.gold-accent, .infobar {
  border-radius: 0 !important;
  border-color: #C1BFBF;
  margin: 0 20px 10px 20px !important;
  overflow: auto;
}

#noresults {
  margin-left: 10px !important;
}

/* code numbering, based on the css found at /r/modtools */
.md pre {
  background-color: #F5F5F5 !important;
  border-left: 31px solid #4D6277;
  position: relative;
  margin-top: 25px;
  line-height: 15px;
  font-family: "Courier New", courier, monospace;
  box-shadow: 0 1px 3px 1px #F5F5F5;
}

.md pre code {
  padding: 15px;
  overflow: auto;
  display: block;
  line-height: 15px;
  font-family: "Courier New", courier, monospace;
}

.md pre:after {
  position: absolute;
  content: "code:";
  color: gray;
  top: -20px;
  left: -30px;
}

.md pre:before {
  height: 100%;
  color: white;
  position: absolute;
  left: -28px;
  width: 25px;
  white-space: pre-wrap;
  direction: rtl;
  overflow: hidden;
  content: "#   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250";
}

/* nested commentary boxes, credits for this piece of code go to someone else */
.comment .child, .comment .showreplies {
  border-left: 0 !important;
}

.comment {
  margin: 0 5px 8px 10px !important;
  background-color: rgba(255, 255, 255, 0.69) !important;
  border: 1px solid #e6e6e6 !important;
  padding: 5px 8px 0 5px !important;
}

.comment,
.comment .comment .comment,
.comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: rgba(255, 255, 255, 0.69) !important;
}

.comment .comment,
.comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: rgba(247, 247, 248, 0.69) !important;
}

/* comment quotes */
#siteTable blockquote, .noncollapsed .usertext blockquote {
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  border-left: 3px solid #62e06a;
  margin: 5px !important;
  padding: 5px;
  color: #333333;
}

/* table comment borders */
.md td, .md th {
  border: 1px solid #C1BFBF !important;
}

/* flair settings */
.flair-settings.fancy-settings > h1 {
  margin: 0 0 5px 20px;
  background-color: #FFFFFF;
  border: 0;
  box-shadow: 0 1px 3px 1px #C0C0C0;
  padding: 5px;
  overflow: auto;
}

.content .tabmenu {
  margin: 0 0 0 17px !important;
}

.content .tabmenu li a {
  background: #b8b8b8;
  color: #353535;
}

.content .tabmenu li.selected a {
  background: #fff;
  color: orangered;
  border: 0;
}

.tabpane-content {
  padding: 5px;
  margin-top: 0;
  margin-left: 20px;
  background-color: #FFFFFF;
  border: 0;
  box-shadow: 0 1px 3px 1px #C0C0C0;
  overflow: auto;
}

/* css settings */
.pretty-form {
  padding: 5px;
  background-color: #FFFFFF;
  border: 0;
  box-shadow: 0 1px 3px 1px #C0C0C0;
  margin-left: 20px;
}

#images {
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
  background-color: #FFFFFF;
  border: 0;
  box-shadow: 0 1px 3px 1px #C0C0C0;
  overflow: auto;
}

/* Custom stylesheet */
.stylesheet-customize-container {
  width: 100%;
}

#stylesheet_contents {
  padding-left: 5px;
  padding-top: 5px;
  background-color: white;
  color: #4D6277;
  height: 500px;
}

#subreddit_stylesheet {
  display: block;
  overflow: hidden;
}

.sheets {
  margin: 0;
}

/* submitting  */
#newlink {
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
  background-color: #FFFFFF;
  border: 0;
  box-shadow: 0 1px 3px 1px #C0C0C0;
  overflow: auto;
}

#link-desc.infobar, #text-desc.infobar {

}

.content > h1 {
  margin: 0 5px 5px 20px;
  background-color: #FFFFFF;
  border: 0;
  box-shadow: 0 1px 3px 1px #C0C0C0;
  padding: 5px;
  overflow: auto;
}

.formtabs-content {
  border-top: 4px solid #C1BFBF !important;
  padding-top: 0 !important;
}

.formtabs-content div:nth-child(1), .formtabs-content div:nth-child(2) {
  margin: 0 !important;
}

li.selected a.link-button, li.selected a.text-button {
  background: #0E0E0E !important;
  color: #FFFFFF !important;
  border: 1px solid #0E0E0E !important;
}

a.link-button, a.text-button {
  background: #EFEFEF !important;
  color: #333333 !important;
  border: 1px solid #0E0E0E !important;
  font-size: 120% !important;
}

/* Spoiler tags */
a[href$="#spoiler"] {
  background: #4D6277 !important;
  color: #4D6277 !important;
  border: 1px solid #4D6277;
  padding-right: 1px;
}

a[href$="#spoiler"]:hover {
  color: #FFF !important;
}

a[href$="#spoiler"]::before {
  background: #FFF !important;
  color: #000 !important;
  padding: 0 1px;
  margin: 0 1px 0 0;
}

a[href$="#spoiler"]::before {
  content: "Spoiler";
}

a[href$="#spoiler"][title]::before {
  content: attr(title) " Spoiler";
}

/*-- FOOTER STYLING --*/
.footer {
  border: 0;
}

.footer-parent {
  background-color: #C0C0C0;
  border-top: 1px solid #DBDBDB;
  position: relative;
}

body > .debuginfo {
  background-color: #C0C0C0;
}

/* Formatting for the content of the Service Status block */
.titlebox .usertext-body .md:nth-child(1) > blockquote:nth-of-type(1) > p {
  font-size: 90%;
  color: gray;
  text-align: center;
}

/* "No Participation"-Mode, aka "Read Only"-Mode
 * by /u/KortoloB
 * /r/NoParticipation
 *
 * Link people to np.reddit.com/r/YourSubreddit to show them a read-only version.
 * Subscribers will see the full page, only non-subscribers will see the read-only version.
 * This is of course by no means fool-proof, but it should work for the average user.
 *  */

body:lang(np):not(.subscriber) .arrow {
  visibility: hidden !important;
}

body:lang(np):not(.subscriber) .usertext-edit,
body:lang(np):not(.subscriber) .sidebox.submit,
body:lang(np):not(.subscriber) .commentingAs,
body:lang(np):not(.subscriber) .markdownEditor,
body:lang(np):not(.subscriber) .report-button,
body:lang(np):not(.subscriber) a[onclick*="return reply(this)"],
body:lang(np):not(.subscriber) .subButtons,
body:lang(np):not(.subscriber) .helplink,
body:lang(np):not(.subscriber) .titlebox .fancy-toggle-button.toggle > .option.add {
  display: none !important;
}

body:lang(np):not(.subscriber) #siteTable:before {
  content: "You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
  display: block;
  max-width: 800px;
  background-color: #F6E69F;
  padding: 5px 10px;
  margin: 5px 305px 5px 0;
  border: 1px solid orange;
  font-size: small;
}

body:lang(np):not(.subscriber) .entry.likes:not(.reddit-entry):before,
body:lang(np):not(.subscriber) .entry.dislikes:not(.reddit-entry):before {
  content: "Please do not vote or comment when you come from external subreddits.";
  color: red;
  font-size: large;
  font-weight: bold;
}

/* end NP */

/* Removed comments and posts coloring */
.spam.link {
  background-color: #E88974 !important;
}

.sitetable.nestedlisting > .spam.comment,
.comment .comment .spam.comment,
.comment .comment .comment .comment .spam.comment,
.comment .comment .comment .comment .comment .comment .spam.comment,
.comment .comment .comment .comment .comment .comment .comment .comment .spam.comment {
  background-color: #FAAA98 !important;
}

.comment .spam.comment,
.comment .comment .comment .spam.comment,
.comment .comment .comment .comment .comment .spam.comment,
.comment .comment .comment .comment .comment .comment .comment .spam.comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .spam.comment {
  background-color: #E88974 !important;
}

.link .entry li .flairselectbtn {
  font-weight: bold;
}

/* This adds a little info box about downvoting */
.commentarea > div.sitetable:before {
  content: "Please don't downvote comments based on opinion. The downvote arrow is for comments which add nothing to the discussion and might as well not be there.";
  display: block;
  margin: 0 0 10px 0;
  overflow: auto;
  background-color: #FFE8DC;
  padding: 8px;
  font-size: 13px;
  border: 1px solid #FCB188;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px
}

.nav-buttons {
  margin-top: 6px;
}

.spam.link p.title a.title:visited {
  color: #5C5C5C !important;
}

.wiki-page .content {
  margin-top: 20px !important;
}

.titlebox form.flairtoggle {
  padding-left: 7px;
}

h1.hover.redditname {
  text-align: center;
}

.search-summary {
  margin-top: 10px !important;
}

.searchpane {
  margin-right: 25px;
  margin-left: 20px;
}

/* Timestamp and explanatory text for edited/controversial comments on hover */
.commentarea .tagline:hover .edited-timestamp:after {
  display:inline !important;
  content:" (" attr(title) ")";
}

.commentarea .tagline:hover time:after {
  display:inline !important;
  content:" (" attr(title) ")";
}

.noncollapsed.controversial.comment>.entry>.tagline:hover>.score:after {
  content:" (controversial comment)";
  top:0;
}

.link.controversial .tagline:hover .userattrs:after {
  content:" (controversial post)";
}

/* Highlight controversial content for mods */
.moderator .comment.controversial, .moderator .link.controversial {
  border-left: 5px solid #7388FF !important;
}

/* show struck-through links as struck-through because we made links behave weird with the comment sprites - rsh */
del a {
  text-decoration: line-through
}

/* Make text under sponsorships more visible */
#ad_sponsorship #redditthis a {
  color: white;
}
