/* Hide the submit button */
.submit-page button.btn {
  position: absolute !important;
  top: 167px;
  right: 60px;
}

.submit-page .roundfield.info-notice:after {
  content: "Looking for something? Read the red box to find the 'submit' button!";
  text-align: center;
  position: absolute;
  width: 500px;
  margin: 65px 0 0 -475px;
}

/* Some color changes */

.submit_text.enabled {
  background-color: #F6A39F;
  font-size: 150%
}

.submit_text.enabled h1 {
  display: none;
}

.submit-page.content h1 {
  display: none;
}

form#newlink.submit.content {
  border-bottom: 30px solid white;
}

/* Hide the subreddit they're submitting to. */
.submit-page > #reddit-field {
  display: none;
}