/* wiki formatting */
div.wiki div.toc > ul:before {
  display: block !important;
  content: "Table of Contents";
  color: #99A;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
}

#wiki_page_content, #wiki_revision_reason {
  max-width: 98%;
}

.wikititle {
  display: none !important;
}

.pageactions {
  background-color: #FFF;
  border: 0;
  box-shadow: 0 3px 3px 1px #C0C0C0;
  padding: 0;
  margin: 0 0 0 20px !important;
  display: block !important;
  overflow: auto;
}

.wiki-page-content {
  background-color: #FFFFFF;
  border: 0;
  box-shadow: 0 3px 3px 1px #C0C0C0;
  padding: 5px;
  margin: 0 0 0 20px !important;
  overflow: hidden;
}

.wiki-page .pageactions {
  border: 0 !important;
}

.wikiaction {
  border-radius: 0 !important;
}

.wiki-page .wiki-page-content .md.wiki > .toc > ul {
  margin: 0 !important;
  background-color: #F5F5F5;
  border-width: 1px 0;
  border-style: solid;
  border-color: #C1BFBF;
}

.toc {
  float: right;
  max-width: 40%;
  border-color: #C1BFBF;
}

// Wiki protection
body.wiki-page:lang(np):not(.subscriber) span.pageactions a.wikiaction-edit:not(.wikiaction-current),
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform label[for='reason'],
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input#wiki_revision_reason,
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input[type='submit'] {
  display: none !important;
}